.login-container {
    text-align: center;
    background: #4d45ad;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.login-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 130px;
    vertical-align: middle;
    position: relative;
    padding: 35px;
}

.signup-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.login-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}

br {
    content: "";
    margin: 7em;
    display: flex;
    font-size: 24%;
}