@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .term-content input[type='checkbox'] {
        --active: #5562eb;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #5562eb;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-top: 4px;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;
        margin-right: 8px;
    }
    .term-content input[type='checkbox']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    .term-content input[type='checkbox']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .term-content input[type='checkbox']:disabled{
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }
    .term-content input[type='checkbox']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    .term-content input[type='checkbox']:disabled + label{
        cursor: not-allowed;
    }
    .term-content input[type='checkbox']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    .term-content input[type='checkbox']:focus{
        box-shadow: 0 0 0 var(--focus);
    }
    .term-content input[type='checkbox']:not(.switch) {
        width: 21px;
    }
    .term-content input[type='checkbox']:not(.switch):after {
        opacity: var(--o, 0);
    }
    .term-content input[type='checkbox']:not(.switch):checked{
        --o: 1;
    }
    .term-content input[type='checkbox'] + label{
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }
    .term-content input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }
    .term-content input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }
    .term-content input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    .term-content input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    .term-content input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }
    .term-content input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    .term-content input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }
}
