.ribbon {
    position: absolute;
    background: #22bb33;
    height: 20px;
    text-align: center;
    transform: rotate(-45deg);
    width: 100px;
    overflow: hidden;
    margin-left: 165px;
    bottom: 15px;
}

.ribbon span {
    padding-right: 22px;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 2px;
    color: #fff;
    transform: rotate(-45deg);
}