.card-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
    color: #8e54e9;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-description {
    margin-top: 25px;
    font-size: 16px;
    margin-bottom: .5em;
    text-align: left;
    padding-left: 30px;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: Roboto, sans-serif;
}

.card-description p {
    font-size: 14px;
    padding-right: 30px;
}

.card-description span {
    margin-left: 5px;
}

.card-term {
    margin-top: 20px;
    font-size: 16px;
    padding-left: 30px;
    font-family: Roboto, sans-serif;
}

.card-term .text {
    margin-left: 5px;
}

.card-tasks-title {
    margin-top: 20px;
    font-size: 16px;
    padding-left: 30px;
    font-family: Roboto, sans-serif;
}

.card-tasks-title span {
    margin-left: 5px;
}

.card-actions {
    margin-top: 20px;
    font-size: 16px;
    padding-left: 30px;
    font-family: Roboto, sans-serif;
}

.card-actions span {
    margin-left: 5px;
}

.card-completion-alert {
    margin-top: 80px;
}

.date-time-pick {
    display: block;
}

.term-box {
    cursor: pointer;
    display: table-cell;
    height: 30px;
    color: #fff;
    vertical-align: middle;
    font-size: 15px;
}

.term-box span {
    border-radius: 5px;
    padding: 5px;
}

.term-date {
    background: #7a58e5;
    border-radius: 5px;
}

.term-status {
    margin-left: 8px;
}

.fail {
    background: #d9534f;
}

.success {
    background: #22bb33;
}

.in-progress {
    display: none;
}

.button-box {
    justify-content: space-around;
}

.button-box span {
    margin-left: 5px;
}

.ok-button {
    margin-top: 10px;
    width: 70px;
}

.button-mark-done {
    margin-top: 10px;
    font-size: 14px;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 30%;
    font-weight: bolder;
    padding: 5px 0;
    border: 2px solid #22bb33;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    color: #22bb33;
    background: white;
    float: left;
}

.button-mark-done:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #22bb33;
    z-index: -1;
}

.button-mark-done:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.button-mark-done:focus:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.button-mark-done:hover {
    color: #fff !important;
    transition: 0.2s ease-in-out;
}

.button-mark-done:focus {
    color: #fff;
    outline: none;
}

.button-remove-normal {
    margin-top: 10px;
    font-size: 14px;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 40px;
    font-weight: bolder;
    padding: 5px 0;
    border: 2px solid #d9534f;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    color: #d9534f;
    background: white;
    float: right;
}

.button-remove-normal:before {
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #d9534f;
    z-index: -1;
    color: #fff;
}

.button-remove-normal:hover:before {
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    color: #fff;
}

.button-remove-normal:focus:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    color: #fff;
}

.button-remove-normal:hover {
    color: #fff;
    transition: 0.2s ease-in-out;
}

.button-remove-done {
    margin-top: 10px;
    font-size: 14px;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 120px;
    font-weight: bolder;
    position: relative;
    padding: 5px 0;
    border: 2px solid #d9534f;
    border-radius: 5px;
    z-index: 2;
    float: left;
    color: #d9534f;
    background: white;
}

.button-remove-done:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #d9534f;
    z-index: -1;
    color: #fff;
}

.button-remove-done:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    color: #fff;
}

.button-remove-done:focus:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    color: #fff;
}

.button-remove-done:hover {
    color: #fff;
    transition: 0.5s ease-in-out;
}

.main-text-container {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    display: inline-block;
    margin: 0 auto;
}

.edit-btn {
    display: none;
}

.save-btn {
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    border-radius: 5px;
    background: #7a58e5;
}

.cancel-btn {
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    border-radius: 5px;
    background: #d9534f;
    margin-left: 3px;
}

.edit-text-container {
    display: flex;
    height: 30px;
    width: 500px;
}

.popover-title {
    color: #7a58e5;
}