$base-font-size: 12px;
$title-font-size: 1.3em;

$primary-color-dark: #7a58e5;
$primary-color: #7a58e5;
$primary-color-light: #ba8fee;
$primary-color-text: #ffffff;
$accent-color: #9452ff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #e4e4e4;
$today-bg-color: #c0bdff;