.hr-navbar ul {
    list-style-type: none;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(121, 87, 205, 0.85);
}

.hr-navbar li {
    float: left;
    height: 50px;
    width: 50px;
}

.hr-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    transition: 200ms;
}

.hr-navbar li a:hover {
    background-color: #4f5cc5;
}

.right-sided {
    float: right !important;
}

.avatar-pic {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-top: -7px;
    margin-left: -3px;
}