.hr-navbar ul {
    list-style-type: none;
    height: 70px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 2px solid #e5e5e5;
}

.hr-navbar li {
    float: left;
    height: 70px;
    width: 33.3333333%;
}

.hr-navbar li a {
    height: inherit;
    display: block;
    color: white;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    transition: 200ms;
}

.hr-navbar li span{
    color: #7a58e5;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Mukta, sans-serif;
}

.avatar-pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: -10px;
    margin-left: -24px;
}