.sidenav {
    height: 100%;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f4f5fa;
    overflow-x: hidden;
    transition: 0.5s;
    font-family: "Lato", sans-serif;
}

.sidenav img:hover {
    color: #000000;
}

.sidenav-icon-main {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.sidenav-icon {
    width: 30px;
    height: 35px;
    display: inline-block;
}

.gb-left-menu__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.gb-left-menu__nav-item {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    transition: opacity .2s;
    height: 66px;
    padding: 8px 0;
    color: #50667b;
    opacity: 0.6;
    text-decoration: none;
    margin-top: 15px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.gb-left-menu__nav-item:hover {
    opacity: 1;
}

.scale {
    transition: 100ms;
}

.scale:hover {
    transform: scale(1.1);
}

.colorize {
    transition: 100ms;
}

.colorize:hover {
    background-color: #edeff8;
}

